
*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #212529;
}

#cabecalho {
    background: #212529;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    width: 5%;
    /* height: 94.1vh; */
}
.nav-link-meio {
    color:white;
    font-size: 20px;
    margin: 10px 20px 10px 0px;
}

.nav-link-primeiro {
    color:white;
    font-size: 20px;
    margin: 80px 20px 10px 0px;
}

#port{
    color: white;
    margin: 0px 30px 0px 100px;
    display: flex;
    align-items: center;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: #000000;
    background-clip: padding-box;
    border: 1px solid #212529;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.nav-link-esquerda{
    color: white !important;
    font-size: 20px;
    margin: 0px 5px 0px 0px;
}

.nav-link-meio-meio {
    color: white !important;
    font-size: 10px;
    margin: 0px 10px 0px 0px;
}

.nav-link-direita {
    color: white !important;
    font-size: 20px;
    margin: 0px 15px 0px 0px;
}

#imagem-portfolio{
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

a {
    color: white;
    text-decoration: inherit;
    font-size: 15px;
    font-family: arial;
    font-weight: 600;
    /* margin: 0px 12px 0px 0px; */
}

#perfil{
    margin: 0px 12px 0px 0px;
}

#PD {
    display: flex;
    justify-content: space-between;
}

#geral-centro{
    display: flex;
}

#geral_meio {
    background-color: black;
    color: white;
    width: 70%;
    border-radius: 16px;
    padding: 10px;
}

#centro{
    display: flex;
    margin: 10px 10px 10px 10px;
}

#IPT{
    margin: 0px 15px 0px 0px;
}

#UPC{
    margin: 0px 15px 0px 0px;
}

#TPS{
    margin: 0px 10px 0px 0px;
}

#bloco-laranja {
    background-color: rgba(145, 4, 4, 0.39);
    border-radius: 15px;
    width: 100%;
    height: 13vh;
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress-bar-laranja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #fd0d0d;
    transition: width .6s ease;
}

#WP {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: column;
    margin: 0px 0px 0px 13px;
}

.progress {
    display: flex;
    height: 0.3rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    margin: 0px 0px 0px 0px;
}

#geral_progress{
    width: 100%;
}

#geral-blocos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#progress{
    margin: 0px 0px 7px 10px;
}

#porcentagem {
    display: flex;
    justify-content: flex-end;
    margin: 5px 5px 5px 0px;
}

#december {
    display: flex;
    justify-content: flex-end;
    margin: 10px 10px 0px 10px;
}

#imagem-bloco {
    width: 30px;
    border-radius: 50px;
    margin: 0px -15px 10px 10px;
}

#imagem-bloco-dois {
    width: 30px;
    border-radius: 50px;
    margin: 0px 0px 10px 0px;
}

#input-bloco{
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.emote-bloco{
    background: black;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

#botao {
    display: flex;
    margin: 0px 8px 0px 0px;
}

#botao-bloco{
    background-color: black;
    color: white;
    border: solid 1px black;
    border-radius: 10px;
    font-size: 10px;
    font-family: arial;
    font-weight: 600;
    width: 75px;
    height: 30px;
    display: flex;
    justify-content: center;
}

#icones-december{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#direito{
    background-color: black;
    margin: 0px 0px 0px 10px;
    border-radius: 10px;
    width: 23%;
}

#client{
    color: white;
    margin: 10px 0px 0px 10px;
}

#step{
    color: white;
}

#estrela{
    color: white;
}

#stepmais {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 86%;
}

p {
    color: gray;
    margin: -25px 0px 0px 55px;
}

#imagem-direito {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin: 1px 3px 3px 8px;
}

#comentario-um {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0px 0px 0px;
}

#comentario-um:hover {
    background-color: #4f5052;
}

#dez {
    color: grey;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    width: inherit;
    margin: 0px 15px 0px 0px;
}

@media (max-width: 1450px){
    p {
        color: gray;
        margin: -5px 0px 0px 10px;
    }
    #cabecalho {
        background: #212529;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end;
        width: 4%;
    }
    #stepmais {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 90%;
        margin: 0px 0px 0px 10px;
    }
    #comentario-um {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 0px 0px 0px 0px;
    }
    #geral_meio {
        background-color: black;
        color: white;
        width: 60%;
        border-radius: 16px;
        padding: 10px;
    }
    #direito {
        background-color: black;
        margin: 0px 0px 0px 10px;
        border-radius: 10px;
        width: 31%;
    }
}

@media (max-width: 1024px){
    p {
        color: gray;
        margin: -5px 0px 0px 10px;
    }
    #cabecalho {
        background: #212529;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end;
        width: 6%;
        /* height: 94.1vh; */
    }
    #port {
        color: white;
        margin: 0px 30px 0px 70px;
        display: flex;
        align-items: center;
    }
    #stepmais {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 90%;
        margin: 0px 0px 0px 10px;
    }
    #comentario-um {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 0px 0px 0px 0px;
    }
    #geral_meio {
        background-color: black;
        color: white;
        width: 60%;
        border-radius: 16px;
        padding: 10px;
    }
    #direito {
        background-color: black;
        margin: 0px 0px 0px 10px;
        border-radius: 10px;
        width: 29%;
    }
    .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

@media (max-width: 800px){
    #cabecalho {
        background: #212529;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end;
        width: 8%;
        /* height: 94.1vh; */
    }
    #port {
        color: white;
        margin: 0px 30px 0px 70px;
        display: flex;
        align-items: center;
    }
    p {
        color: gray;
        margin: -5px 0px 0px 5px;
    }
    #stepmais {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 85%;
        margin: 0px 0px 0px 10px;
    }
    #direito {
        background-color: black;
        margin: 0px 0px 0px 10px;
        border-radius: 10px;
        width: 27%;
    }   
}

@media (max-width: 425px){
    #direito {
        background-color: black;
        margin: 5px 0px 0px 0px;
        border-radius: 10px;
        width: 80%;
    }
    #geral-centro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #stepmais {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 90%;
        margin: 0px 0px 0px 10px;
    }    
    #geral_meio {
        background-color: black;
        color: white;
        width: 80%;
        border-radius: 16px;
        padding: 10px;
    }
    #cabecalho {
        background: #212529;
        display: flex;
        flex-wrap: nowrap;
        width: 5%;
        /* height: 94.1vh; */
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
    }
    p {
        color: gray;
        margin: 0px 0px 0px 10px;
    }
    #port {
        color: white;
        margin: 0px 15px 0px 0px;
        display: flex;
        align-items: center;
    }
    #cabecalho-dois{
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    #centro {
        display: flex;
        margin: 10px 0px 10px 0px;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
    }
}

